html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}


img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;  
  background-image:
  linear-gradient(45deg, rgba(0, 0, 0, 0.20) 25%, transparent 25%),
  linear-gradient(-45deg, rgba(0, 0, 0, 0.20) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.20) 75%),
  linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.20) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
/* Demo Styles */

body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	color: var(--vscode-foreground);
	/* background-color: var(--vscode-editor-background); */
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}